<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>

<fieldset>
	<legend>Login</legend>
	<form method="post" >
	<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td colspan="2"><center><input type="submit" name="submit" value="Log In"></center></td>
		</tr>

		<tr>
			<td colspan="2">
				<center><a href="../registration">Registration</a></center>
			</td>
		</tr>
	</table>
	</form>
</fieldset>
</body>
</html>